@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    background-color: rgb(85, 83, 83);
    font-family: 'Libre Baskerville', serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
    margin-top: -1.59vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

.fondoCarta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/src/img/fondoCarta.png);
    width: 70%;
    height: 94%;
}

header {
    background-color: aliceblue;
    width: 33%;
    margin: 0 auto;
}


.container {
    background-color: aliceblue;
    width: 95%;
    height: 97%;
    text-align: left;
}

.container > h1{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marco {
    width: 80%;
    border: 2px solid #12677E;
    margin: 0 auto;
    height: 80%;
}

.titulo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67.5%;
    height: 5vh;
    margin-top: -2.5vh;
}

.index {
    display: flex;
    justify-content: center;
}

.index a {
    color: #12677E;

}

.contenidoCarta {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #12677E;
    background-color: aliceblue;
    color: #12677E;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 100%;

}

.logo img{
    width: 12vw;
    height: 25%;
    transform: rotate(7.50deg);
}

.logo {
    position: absolute;
    margin-left: 50%;
    margin-top: -4%;
}

.texto {
    font-size: 10px;
    width: 100%;
    display: flex;
    margin-left: 2%;
}

.platos {
    height: 3%;
    width: 100%;
    display: flex;
}
  
.platos > p {
    font-size: 15px;
    margin: 1% 0% 0% 2%;
   
}

.infoPostres {
    font-size: 12.50px;
    margin-left: 2%;
}

.platos > p:first-child {
    height: 8%;
    width: 85%;
    border-top: 1px dotted #000000;
}


.mtPlatos {
    margin-top: 5%;
}

.iva {
    font-size: 75%;
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.ivaPrincipal {
    margin-top: 2%;
    font-size: 75%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}


@media screen and (max-width: 424px) {
    body {
        margin: 0;
        padding: 0;
        background-image: url(/src/img/fondoCarta.png);
    }

    .fondoCarta {
        width: 100vw;
        height: 97vh;
        margin: 0;
        text-align: center;
    }

    .texto {
        font-size: 15px;
    }

    .container {
        width: 95vw;
        height: 97.50vh;
        margin-top: 1vh;
    }

    .container > h1{
        font-size: 15px;
    }
    
    .marco {
        width: 90vw; 
        height: 75vh; 
        overflow: auto; 
        overflow-x: hidden;
    }

    .logo img {
        width: 25vw;
        height: 10vh;
        display: none;
    }

    .logo {
        position: absolute;
        margin-left: 17.50vw;
        transform: rotate(7.50deg);
        margin-top: 4vh;
    }

    .contenidoCarta {
        display: flex;
        justify-content: center;
        width: 40vw;
        height: 5vh;
        margin-top: -2.50vh;
        margin-left: 25vw;
        font-size: 10px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {

    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .titulo{
        margin-left: -1vh;
    }

    .fondoCarta {
        width: 100%;
        height: 110%;
        margin: 0;
        text-align: center;
    }

    .container {
        width: 85vw;
        height: 90vh;
        margin-top: 10%;
    }

    .marco {
        width: 75vw; 
        height: 70vh; 
    }

    .logo {
        display: none;
    }

    .platos > p {
        font-size: 10px;
    }

    .contenidoCarta {
        display: flex;
        justify-content: center;
        width: 40vw;
        height: 5vh;
        margin-top: -2.50vh;
        margin-left: 25vw;
    }


    .iva {
        justify-content: center;
        font-weight: bold;
        margin-top: 4%;
    }
}